nav{
    background-color: #06142e;
  
}
.heading{
    color: #06142e;
}
.submit{
    background-color:#bd83d8;
    color:#ffffff;
    font-weight: bold;
}
.delete{
    background-color: #06142e;
    color:#fff;
}
.container{
    border-radius: 4px;
}

#notes{
    border-radius: 8px;
}
